

@import './settings/fonts';

body {
    margin: 0;
    font-family: $font-main
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

//TUTAJ IMPORTUJE WSZYSTKIE PLIKI SCSS
@import 'Header'; //'Portfolio', 'PortfolioBox',
// 'Skills', 'AboutMe', 'Contact', 'ContactForm',
// 'Footer';